.aboutContainer {
  margin-top: 75px;
}

.aboutTitle {
  text-align: center;
  padding: 10px 20px;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.aboutUsSummary {
  text-align: center;
  padding: 10px 20px;
}

.aboutDevContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.devContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.devTitle {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 10px;
}

.devSummary {
  margin: 20px 40px;
  padding: 30px 60px;
  box-shadow: 0 0 10px;
}
