#landingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin-bottom: 10vh;
  z-index: 1;
}

#imageAndSearchContainer {
  display: flex;
  background-color: #1f1f1f;
  width: 960px;
  height: 510px;
  margin-top: 123px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  align-content: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 1;
}

#WZLogo {
  /* WZLogo4 */
  position: absolute;
  width: 960px;
  height: 500px;
  padding-top: 10px;
  /* padding-left: 40px; */
  opacity: 0.7;
  z-index: initial;
}

#searchContainer {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 960px;
  padding-left: 19px;
  padding-top: 35px;
  /* z-index: 2; */
}

#platformContainer {
  display: flex;
  justify-content: flex-start;
  width: 550px;
  margin-left: 16px;
  margin-top: 5px;
  z-index: 1;
}

.platformBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.platformBtnLogo {
  height: 18px;
  width: 18px;
  padding-right: 4px;
}

#platformContainer button {
  margin-right: 10px;
  width: 120px;
  height: 35px;
  cursor: pointer;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  border-radius: 5px;
  box-shadow: 5px #ff7597;
  background-color: #7b7b7b;
}

#cover {
  width: 800px;
  height: 50px;
  padding: 35px;
  margin-left: -155px;
  background-color: #7b7b7b;
  border-radius: 20px;
  box-shadow: 0 4px 8px #000000, 0 0 0 20px #ffffffeb;
  transform: scale(0.6);
}

.inputContainer {
  display: flex;
  width: 100%;
}

input,
.linkButton {
  color: #fff;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  outline: none;
}

#landingSearch {
  margin-top: -20px;
  width: 100%;
  height: 96px;
  font-size: 60px;
  line-height: 1;
}

input[type="text"]::placeholder {
  color: #1f1f1f;
}

.linkButton {
  position: relative;
  display: block;
  width: 84px;
  height: 96px;
  cursor: pointer;
  /* background-color: aquamarine; */
}

#buttonCircle {
  position: relative;
  top: -27px;
  left: 22px;
  width: 28px;
  height: 28px;
  margin-top: 0;
  border-width: 15px;
  border: 15px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

.linkButton span {
  position: absolute;
  top: 44px;
  left: 43px;
  display: block;
  width: 45px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

.linkButton span:before,
.linkButton span:after {
  content: "";
  position: absolute;
  bottom: 8px;
  right: 0px;
  width: 40px;
  height: 15px;
  background-color: #fff;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#buttonCover:hover #buttonCircle {
  top: -20px;
  width: 50px;
  height: 15px;
  border-width: 0;
  background-color: #fff;
  border-radius: 20px;
}

#buttonCover:hover span {
  top: 50%;
  left: 50px;
  width: 25px;
  margin-top: -27px;
  transform: rotateZ(0);
}

#buttonCover:hover button span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#buttonCover:hover button span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}
#buttonCover:hover button span:before,
#buttonCover:hover button span:after {
  right: -16px;
  width: 40px;
  background-color: #fff;
}

#popularDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  width: 460px;
  padding-left: 30px;
}
#popluarPlayerTitle {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  width: 460px;
  font-size: 20px;
  padding-top: 20px;
  z-index: 1;
}

#popularPlayerContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 5px;
  /* padding-left: 30px; */
  height: 150px;
  width: 460px;
  z-index: 1;
}

.singlePopPlayContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  border: 1px solid rgb(255, 255, 255);
  border-left: 54px solid rgb(255, 255, 255);
  background-color: #7b7b7b;
  border-radius: 7px;
  z-index: 1;
}
.ImgNameContainer {
  display: flex;
  align-items: center;
  z-index: 1;
}
.topPlayerImg {
  height: 45px;
  width: 45px;
  margin-left: -54px;
  border-radius: 15px;
  z-index: 1;
}

.topPlayerName {
  padding-left: 10px;
  padding-right: 5px;
  font-size: 16px;
  color: aliceblue;
  z-index: 1;
}

#SMContainer {
  display: flex;
  justify-content: center;
  z-index: 1;
}

.topPlayerSMImg {
  padding: 0px 5px;
  padding-top: 4px;
  height: 20px;
  width: 20px;
  z-index: 1;
}
