.background {
    fill: #7b7b7b;
  }
  .foreground {
    fill: #ff0266;
  }
  .percent-complete {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 85px;
      fill: #ff7597;
      letter-spacing: -.03em;
  }
  .description {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 40px;
      fill: #9B9B9B;
  }
  