#matchContainer {
  display: flex;
  flex-direction: column;
  width: 900px;
  height: fit-content;
  padding: 20px;
  justify-content: space-between;
  margin-top: 125px;
  background-color: #1f1f1f;
}

.singleMatchHistory {
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: flex-start;
  background-color: #414141;
  padding: 10px;
  margin-bottom: 10px;
}

.singleMatchHistory :hover {
  background-color: #292929;
}

#singleMatchHeader {
  display: flex;
  padding: 10px 0 10px 0;
}

.singleMatchPlacement {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 48px;
  height: 48px;
  padding: 5px;
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  color: #f9f9f9;
  background-color: #7b7b7b;
  box-shadow: 4px 4px 4px 2px #1f1f1f;
}

.singleMatchLobbyStatsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
}

.singleMatchLobbyKd {
  display: flex;
  flex-direction: column;
  color: #f9f9f9;
  background-color: #7b7b7b;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  box-shadow: 4px 4px 4px 2px #1f1f1f;
}

.singleMatchLobbyMode {
  display: flex;
  flex-direction: column;
  color: #f9f9f9;
  background-color: #7b7b7b;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  box-shadow: 4px 4px 4px 2px #1f1f1f;
}

/* TeamMemberStats */

table {
  border-collapse: collapse;
}

.teamStats {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.teamStatsTableHeader td {
  color: #ff0266;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
}

.teamStatsTableBody td {
  color: #ff7597;
  border-top: 1px solid #7b7b7b;
  text-align: center;
  width: 175px;
}

.individualTeamMemberStats {
  height: 40px;
}

.tableUsername {
  width: 200px;
  font-weight: bold;
  text-align: left !important;
}

.teamGreaterThanFour {
  display: flex;
  align-items: center;
  height: 80px;
  font-size: 20px;
  font-weight: bold;
  color: #f9f9f9;
}
