#matchDetailBigContainer {
  display: flex;
  justify-content: center;
}

#matchDetailContainer {
  display: flex;
  border: 2px solid black;
  flex-direction: column;
  justify-content: center;
  width: 900px;
  height: 90%;
  padding: 30px;
  margin-top: 125px;
}

#listOfPlayers {
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: flex-start;
  background-color: #1f1f1f;
  margin: 10px 0;
}

.tableUsername {
  width: 150px;
}

.tableStats {
  text-align: center;
}

.tablePlacement {
  border: 1px solid white;
  width: 32px;
  height: 32px;
  padding: 12px 10px 8px;
  margin-right: 10px;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
}

.tableTeamKills {
  border: 1px solid white;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
}

.teamDetailStats {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: aqua;
  margin-bottom: 10px;
}

.teamTableContainer {
  width: 900px;
}
