#matchDetailBigContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

#matchDetailContainer {
  display: flex;
  flex-direction: column;
  width: 900px;
  height: fit-content;
  padding: 20px;
  justify-content: space-between;
  margin-top: 25px;
  background-color: #1f1f1f;
  border-radius: 10px;
}

#listOfPlayers {
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: flex-start;
  background-color: #414141;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.matchDetailMode {
  font-size: 40px;
  color: #f9f9f9;
  font-weight: bold;
  font-family: Impact;
}

.matchDetailDate {
  font-size: 20px;
  color: #f9f9f9;
  font-family: Impact;
}

.teamStatsDetailContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.teamMatchPlacement {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 48px;
  height: 48px;
  padding: 5px;
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  color: #f9f9f9;
  background-color: #7b7b7b;
  box-shadow: 4px 4px 4px 2px #1f1f1f;
}

.teamMatchKills {
  display: flex;
  flex-direction: column;
  color: #f9f9f9;
  background-color: #7b7b7b;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  box-shadow: 4px 4px 4px 2px #1f1f1f;
}

table {
  border-collapse: collapse;
}

.teamStatsDetail {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.teamStatsTableHeaderDetail td {
  color: #ff0266;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
}

.teamStatsTableBodyDetail td {
  color: #ff7597;
  border-top: 1px solid #7b7b7b;
  text-align: center;
  width: 170px;
}

.individualTeamMemberStatsDetail {
  height: 40px;
}

.tableUsernameDetail {
  width: 200px;
  font-weight: bold;
  text-align: left !important;
}
