#matchContainer {
  display: flex;
  border: 2px solid black;
  flex-direction: column;
  width: 900px;
  height: 4000px;
  padding: 30px;
  justify-content: space-between;
  margin-top: 125px;
}

.singleMatchHistory {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  height: 150px;
  justify-content: space-around;
}

.totalTeamStats {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}

.teamStats {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: white;
}
