#navbarSearchContainer {
  display: flex;
  justify-content: center;
}

/* ------------ */

#navbarSearchbarContainer {
  width: 500px;
  /* padding: 35px; */
  background-color: #ff7575;
  border-radius: 10px;
  box-shadow: 0 3px 10px #ff7c7c, 0 0 0 5px #ffffffeb;
  /* transform: scale(0.6); */
}

#navbarSearchForm {
  display: flex;
  width: 380px;
  padding: 5px 6px;
  border: 0;
  border-radius: 20px;
  background-color: lightgray;
  justify-content: space-between;
}

#navbarSearch {
  border: 0;
  text-align: center;
  outline: none;
  background-color: lightgray;
  width: 250px;
  padding-left: 75px;
  border-radius: 20px;
}

#navbarSearchButton {
  border: 0;
  background-color: lightgray;
  margin-left: 20px;
  border-radius: 20px;
}

#navbarSearchIcon {
  width: 30px;
  height: 30px;
}

/* ------------ */
#header {
  display: flex;
  justify-content: space-between;
  height: 75px;
  background-color: #36393f;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
  color: white;
}

#dehazeIcon {
  color: white;
  margin-left: 111px;
}

#drawerList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  outline: none;
  text-decoration: none;
  color: black;
}

#searchPlatform {
  position: fixed;
  margin-left: 12px;
  margin-top: -2px;
}

.MuiFormControl-fullWidth {
  width: 50px !important;
}

.MuiFormLabel-root.Mui-focused {
  color: #ff0266 !important;
}
.MuiInput-underline:after {
  border-bottom: 2px solid #ff0266 !important;
}

.MuiInputBase-input {
  padding: 2px 0 4px !important;
}

input:-webkit-autofill {
  transition: all 5000s ease-in-out 0s;
  -webkit-text-fill-color: #1f1f1f;
}

input:focus {
  color: #1f1f1f;
}
