#header {
  display: flex;
  justify-content: space-between;
  height: 75px;
  background-color: #36393f;
  align-items: center;
  position: fixed;
  top:0;
  width:100%;
}

h1 {
  color: white;
}

#dehazeIcon {
  color: white;
}

#drawerList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  outline: none;
  text-decoration: none;
  color: black;
}
