.playerBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-weight: bolder;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.playerStatsTitleL{
  font-size: 50px;
  padding-bottom: 5px;
}

.playerStatsNumberL{
  padding-top: 5px;
  font-size: 30px;
}

.playerStatsTitleM{
  font-size: 35px;
  padding-bottom: 5px;
}

.playerStatsNumberM{
  padding-top: 5px;
  font-size: 20px;
}

.playerStatsTitleS{
  font-size: 25px;
  padding-bottom: 5px;
}

.playerStatsNumberS{
  padding-top: 5px;
}

#statSummaryContainer {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  flex-direction: column;
  width: 900px;
  height: 480px;
  padding: 30px;
  align-content: space-between;
  justify-content: space-between;
}

#playerWins {
  width: 280px;
  height: 480px;
  background-color: rgba(255, 0, 0, 0.699);
}

#playerKills {
  width: 280px;
  height: 315px;
  background-color: rgba(255, 166, 0, 0.692);
}

#playerKD {
  width: 280px;
  height: 150px;
  background-color: rgba(255, 255, 0, 0.651);
}

#playerKG {
  width: 280px;
  height: 150px;
  background-color: rgba(0, 128, 0, 0.637);
}

#playerGames {
  width: 280px;
  height: 150px;
  background-color: rgba(0, 0, 255, 0.637);
}

#playerTop5 {
  width: 280px;
  height: 150px;
  background-color: rgba(238, 130, 238, 0.61);
}
